<head>
    <link rel="shortcut icon" type="image/x-icon" href="/assets copy/imgs/theme/favicon.svg">
    <link href="/assets copy/css/main.css" rel="stylesheet" type="text/css" />
    <script src="/node_modules/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
    <section class="content-main mt-80 mb-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="card mx-auto card-login">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Sign in</h4>
                        <form action="/admin/adminlogin" method="post">
                            <div class="mb-3">
                                <input class="form-control" placeholder="Username or email" name="email" type="text">
                            </div> <!-- form-group// -->
                            <div class="mb-3">
                                <input class="form-control" placeholder="Password" name="password" type="password">
                            </div> <!-- form-group// -->
                            <div class="mb-3">
                                <a href="#" class="float-end font-sm text-muted">Forgot password?</a>
                                <label class="form-check">
                                    <input type="checkbox" class="form-check-input" checked="">
                                    <span class="form-check-label">Remember</span>
                                </label>
                            </div> <!-- form-group form-check .// -->
                            <div class="mb-4">
                                <button type="submit" class="btn btn-primary w-100">Login</button>
                            </div> <!-- form-group// -->
                        </form>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
</body>
</html>






















<!-- <head>
 
    
    <link rel="shortcut icon" type="image/x-icon" href="/assets copy/imgs/theme/favicon.svg">
    
    <link href="/assets copy/css/main.css" rel="stylesheet" type="text/css" />
    <script src="/node_modules/sweetalert/dist/sweetalert.min.js"></script>
         
</head>

<body>
    
    <body> 




 <section class="content-main mt-80 mb-80"> 
     <div class="container"> 
         <div class="row justify-content-center"> 
    <div class="card mx-auto card-login">
        <div class="card-body">
            <h4 class="card-title mb-4">Sign in</h4>
            <form action="/admin/adminlogin" method="post">

                
                <div class="mb-3">
                    <input class="form-control" placeholder="Username or email" name="email" type="text">
                </div> 
                <div class="mb-3">
                    <input class="form-control" placeholder="Password" name="password" type="password">
                </div> 
                <div class="mb-3">
                    <a href="#" class="float-end font-sm text-muted">Forgot password?</a>
                    <label class="form-check">
                        <input type="checkbox" class="form-check-input" checked="">
                        <span class="form-check-label">Remember</span>
                    </label>
                </div> 
                <div class="mb-4">
                    <button type="submit" class="btn btn-primary w-100"> Login </button>
                </div> 
      
</section>




</html> -->