<main class="main-wrap">

<header class="main-header style-2 navbar">
    <div class="col-brand">
        <a href="index.html" class="brand-wrap">
            <img src="/assets copy/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
        </a>
    </div>
    <div class="col-nav"> <!-- Missing opening div tag -->
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link btn-icon darkmode" href="#">
                    <i class="material-icons md-nights_stay"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="requestfullscreen nav-link btn-icon">
                    <i class="material-icons md-cast"></i>
                </a>
            </li>
            <li class="dropdown nav-item">
                <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">
                    <img class="img-xs rounded-circle" src="/assets copy/imgs/people/avatar2.jpg" alt="User">
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href='/admin/adminlogout'>
                        <i class="material-icons md-exit_to_app"></i>Logout
                    </a>
                </div>
            </li>
        </ul>
    </div>
</header>

    
   








<!-- 
<main class="main-wrap">

<header class="main-header style-2 navbar">
    <div class="col-brand">
        <a href="index.html" class="brand-wrap">
            <img src="/assets copy/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
        </a>
    </div>
     <div class="col-nav">
        <ul class="nav">

            </li>
            <li class="nav-item">
                <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
            </li>
            <li class="nav-item">
                <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
            </li>
       
            </li>
            <li class="dropdown nav-item">
                <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/assets copy/imgs/people/avatar2.jpg" alt="User"></a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
            
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href='/admin/adminlogout'><i class="material-icons md-exit_to_app"></i>Logout</a>
                </div>
            </li>
        </ul>
    </div>
</header> -->
