<div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href="" class="brand-wrap">
                    <img src="/assets copy/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                    </button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside">
                    <li class="menu-item active">
                        <a class="menu-link" href="/admin"> <i class="icon material-icons md-home"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="page-products-list.html"> <i
                                class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Products</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/productlist">Products List</a>
                           
                            <a href="/admin/catagories">Categories</a>
                        </div>
                    </li>
                  
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                            <span class="text">Users</span>
                        </a>
                        <div class="submenu">
             
                            <a href='/admin/userlist'>Users list</a>
                          
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                            <span class="text">Add product</span>
                        </a>
                        <div class="submenu">
                            <a href='/admin/addproduct'>Add product </a>
                      
                        </div>


                        <li class="menu-item has-submenu">
                            <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                                <span class="text">Orders</span>
                            </a>
                            <div class="submenu">
                                <a href='/admin/orderslist?page=1'>Orders List</a>
                          
                            </div>
                     
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="page-products-list.html"> <i
                                class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Coupon</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/add-coupon">Coupons</a>
                           
                            <a href="/admin/coupon-list">Coupon List</a>
                        </div>

                        <li class="menu-item has-submenu">
                            <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                                <span class="text">Banner</span>
                            </a>
                            <div class="submenu">
                                <a href='/admin/add-banner'>Add Banner</a>
                                <a href='/admin/banner-list'>List Banner</a>
                          
                            </div>
                           
                        
                    </li>
                </ul>
                <br>
                <br>
            </nav>
        </aside>